
.vs/OpenCV-Project-Test/FileContentIndex/d95a0956-0945-4c8e-8870-587bc5abf77c.vsidx
*.vsidx
*.vsidx
*.vsidx
.vs/OpenCV-Project-Test/FileContentIndex/355f53c5-baca-4dd9-a088-a7edc5a00a16.vsidx
.vs/OpenCV-Project-Test/v17/.wsuo
.vs/OpenCV-Project-Test/v17/.wsuo
.vs/slnx.sqlite
